* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

body {
  background-color: rgb(20,20,20);
  
}

.home {
  /*ackground-color: rgb(5,5,5);*/
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(affisch.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
 
  
}

header.topList {
  background-color: rgb(20,20,20);
}

h1 {
  font-size: 50px;
  color: rgb(225,225,225);
}

.title {
    margin: auto;
    width: fit-content;
}


.titletext{
  float:left;
  font-size: 80px;
  color: white;
  margin-top: 30vh;
}

div.logo img{
  float:left;
  height: 100px;
  width: auto;
}

div.menu-bar {
  text-align: center;
  margin: auto;
  position: absolute;
  width: 100%;
  padding-top: 40px ;

}

div.menu-bar ul {
  float: right;
  list-style-type: none;
}

div.menu-bar ul li {
  display: inline-block;
}

div.menu-bar ul li button {
  background-color: ;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;

  color: white;
  text-decoration: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  margin-top: 10px;

  text-align: center;
}

div.menu-bar a {
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;

  color: white;
  text-decoration: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  margin-top: 10px;

  text-align: center;
}

div.menu-bar button.active {
  background-color: rgb(212,70,4);
}
div.menu-bar button:hover {
  background-color: rgb(212,70,4);
}
div.menu-bar a.active {
  background-color: rgb(212,70,4);
}
div.menu-bar a:hover {
  background-color: rgb(212,70,4);
}

@keyframes titlefade {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

div.shogun-rating {

  padding-top: 100px;
  text-align: center;
  color: rgb(200,200,200);
}
div.shogun-rating img.contester{
  height: 200px;
  width: auto;
  border-style: solid;
  border-width: 3px;
  border-radius: 100%;
  border-color: black;
  margin-top: 10px;
}

.person h2{
  font-size: 4vw;
}
.person{
  margin-top: 2.5vw;

}

div.comments {
  display: inline-block;
  width: 60%;
  margin-top: 30px;
}

div.shogun-rating h3 {
  text-align: center;
}
div.comment {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  background-color: rgb(15,15,15);
}
.comment_author{
  float: left;
  padding-left: 2vw;
  font-size: 2.5vw;
  margin-top: 1vw;
}

div.comment_image {

  width: 5vw;
  height: 5vw;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-left: 1vw;
  margin-top: 1vw;
}
div.comment img{
  height: 100%;
  width: 100%;
}

div.comment_text {
  width: 100%;
  float: left;
  text-align: left;
  padding-left: 8vw;
  margin-bottom: 1vw;
}

#quiz_header{
  text-align: center;
  color: white;
  padding-top: 12vw;
}
.quiz_object{
  padding: 10px;
  border: solid white 1px;
  width: 50%;
  margin: auto;
  cursor: pointer;
  color: white;
}
.quiz_object:hover{
  background-color: rgb(212,70,4);
}
#quiz_result_text{
  width: 70%;
  margin: auto;
}
.add_comment{
  margin-top: 3vw;
  width: 60%;
  margin: 1vw auto;
  font-size: 3vw;
}
#input_text{
  width: 80%;
  height: 50px;
  
}
.input_text_size{
  font-size: 20px;
}
#knapp{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
select{
  padding: 15px 9px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  background-color: #bdbdff8a;
}


/*Fading stuff*/
/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}

#rate {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#my {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#shogun {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#punkt {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
#net {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

/*För mobiler*/
@media screen and (max-width: 1050px) {
  #quiz_header h1{
    font-size: 12vw;
  }
  #quiz_header h2{
    font-size: 6vw;
  }
  #quiz_header h3{
    font-size: 5vw;
    padding:0 35px;
  }
  .menu_element{
    font-size: 4vw !important;
  }
  .quiz_object{
    font-size: 4vw;
    width: 75%;
  }
  .contester{
    width: 80vw !important;
    height: 80vw !important;
  }
  .person {
    font-size: 4vw;
  }

  div.comments {
    width: 80%;
    font-size: 3vw;
  }
  .add_comment{
    width: 70%;
  }
  
  .comment_author{
    float: left;
    padding-left: 2vw;
    font-size: 5vw;
  }
  
  div.comment_image {
    width: 10vw;
    height: 10vw;
  }
  
  div.comment_text {
    font-size: 4vw;
  }

  
  #input_text{
    width: 70%;
    height: 60px;
    
  }
  
  #knapp{
   
    font-size: 30px;
  }
  
}